<!DOCTYPE html>
<html>
<head>
    <title>Electricity Units Determination</title>
    <!-- Corrected CSS link -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <h1>Electricity Bill Calculator</h1>

    <form id="unitsForm">
        <label for="billAmount">Enter Bill Amount:</label><br>
        <input type="number" id="billAmount" required><br><br>
        <button type="submit">Calculate Units Consumed</button>
    </form>

    <h2>Result:</h2>
    <div id="unitsConsumed"></div> <!-- Added this element to show the units amt -->

    <script src="{{ url_for('static', filename='js/page2_script.js') }}">
        
    </script>
</body>
</html>
